node-red/Orchestrateur.json
[{"id":"7eeb47c71ce3f56e","type":"tab","label":"Orchestrateur","disabled":false,"info":"","env":[]},{"id":"eee9498bc6268177","type":"tab","label":"Connection verification Service","disabled":false,"info":"","env":[]},{"id":"e1c442cf26a1d462","type":"group","z":"7eeb47c71ce3f56e","name":"Client selection POST /api/selection","style":{"label":true,"stroke":"#006400","color":"#006400"},"nodes":["f19217dd4daffbe7","bd3db6c3719a7270","3152328390f68890","4f7a067c14d00ee4","6b2034cebf3690e6","b26f024f5b6e2d12","645f9e14dadba358","597da7c9c1bf0467","dce8d468ae3c180e","9e78605741aa4a82","a36d122579fb488e","c598f67225c9dc2a","0eab8e407a639064","c04592127c7197e7","011101f44b4c2731","f5996d619b7a064e","d5441defc8f6d748","f9ab8a9eb868c88d","86c0d9e0544409f8","90fb77309b3b1075","b26dfa256ce4a9b0","2edd1ff24379f9ac","44615c57c12add94","4d79d1c3b5bd6c4b","f8a7e7d99f3bce5b","bf20e27451d77b5e","798f034080c02ec1","fbdf8dadc5e08f86","ce9f0eae6a478810","ccd81585d7c997ce","b73fa67f13a04f29","c47afe8e52b02e37"],"x":114,"y":1219,"w":3012,"h":242},{"id":"f975709efd0f10e1","type":"group","z":"7eeb47c71ce3f56e","name":"Service affichage QRCode","style":{"label":true,"stroke":"#6f2fa0","color":"#6f2fa0"},"nodes":["456427ab7ce68e67","3a77119e65ab80a3","c2fe29a6bad6193b","befaa02de893a63a","8038304f46078d1c","c065a99923a9cc72"],"x":114,"y":879,"w":712,"h":142},{"id":"82aa7891c628ec58","type":"group","z":"7eeb47c71ce3f56e","name":"Client connection POST /api/connection?=id","style":{"label":true,"stroke":"#006400","color":"#006400"},"nodes":["a45590ae2f6e87d4","65ed941d132570a7","6d984371f9be9da2","f8af5f04d933438f","edde7379d893f276","44c9bfaf6ad51b4b","af0f785f58b73f4f","a1d779370305fd33","faf4445db6658379","1324079d28331b91","d59502d0d8fc3ee4","565cbb5fded114c4","8913fcdc25e6b034","0e56fe700b1fb403"],"x":114,"y":1039,"w":1852,"h":162},{"id":"fe447c3e9befa7dc","type":"group","z":"7eeb47c71ce3f56e","name":"Kill bus process","style":{"label":true,"stroke":"#aa0000","color":"#aa0000"},"nodes":["c91f99870a7b62b8","aacd362ac23361c1","852d52780fb2505b","19c8d57478096a12","a307c0c0e0f7c84d","9a178fae7735ec82","353e7c2962fe9cae","88220e2aaa3f8fa9","b4018885da82e1f3","1fa792490fef6882","3c86a2e5c867541e","905f85fb9ba8f3f7"],"x":114,"y":2479,"w":892,"h":402},{"id":"42f513f187807b8c","type":"group","z":"7eeb47c71ce3f56e","name":"Start bus process","style":{"label":true,"stroke":"#aa0000","color":"#aa0000"},"nodes":["1676120a.9e7bd6","7ec4abd2.2fbbb4","4121e880.40bb18","127167a5.30506","dc2818ba65fda0bf","6f28f7b8032ab25c","937baef22297128b","606ac2a7821f0014","6ad5e63ebc7f2103","456d635e115e049d","91c5bb4e4604967a","98ee52b3a08ac76c","bd6f4c0c1c019c79","cc90c15e6229ebac","99040d03c2fa2d5a","4d346eaefe60995d","5a5be8d9d3ae2751","ca26196103132678","df0672d63c8d1292","617c7491cfc9a9bc","35a35ac15544b02e"],"x":114,"y":1871.5,"w":752,"h":577},{"id":"ad55486bc0d63833","type":"group","z":"7eeb47c71ce3f56e","name":"Store LOCAL_IP","style":{"label":true,"stroke":"#0070c0","color":"#0070c0"},"nodes":["fc20d298b161cf40","7d8ebafd8288bb63","edbefa7d16ee8e43","293541499ff081f2"],"x":114,"y":779,"w":792,"h":82},{"id":"ba69f7549ba19312","type":"group","z":"eee9498bc6268177","name":"Connection verification service","style":{"stroke":"#001f60","label":true,"color":"#001f60"},"nodes":["3568eca406661d50","d4443acd984cb5b3","ed5b58990eac5cbf"],"x":74,"y":139},{"id":"02f407821871ae64","type":"group","z":"7eeb47c71ce3f56e","name":"DB requests proxy","style":{"stroke":"#ffC000","label":true,"color":"#ffC000"},"nodes":["5c878257f5072f52","2899930c381ed035","a40e5b8be0eae338","e80a3a338b96b77a","bfc6cd1ae1797083","9da05686bb35b793","c6be5753f1a6ce93","53539c3e7c6471b3","c02b44632e4d79c3","44e7252463041b89","19f46cb79a0c1dfa","74406cffff638e6f","b7e03f5478a24fd2"],"x":114,"y":1479,"w":712,"h":282},{"id":"50405f6f5ec87c08","type":"group","z":"eee9498bc6268177","name":"Send mail missing students","style":{"stroke":"#001f60","label":true,"color":"#001f60"},"nodes":["379b1df424666112","9eb42eab4cfdc198","aeb17b1a4c17189b"],"x":74,"y":239},{"id":"b6929989166991b9","type":"ui_group","name":"QRCode","tab":"ac0188de4dbaa3be","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ac0188de4dbaa3be","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"4945effe6ffefac7","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"280bb29115f88e90","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"f19217dd4daffbe7","type":"http in","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"Client selection","url":"selection","method":"post","upload":true,"swaggerDoc":"","x":220,"y":1320,"wires":[["bd3db6c3719a7270","0eab8e407a639064"]]},{"id":"bd3db6c3719a7270","type":"debug","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"Client selection POST","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":1360,"wires":[]},{"id":"3152328390f68890","type":"switch","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"Service Distribution","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$contains($.payload.Bluetooth, \"on\")","vt":"jsonata"},{"t":"jsonata_exp","v":"$contains($.payload.QR, \"on\")","vt":"jsonata"},{"t":"jsonata_exp","v":"$contains($.payload.\"Face Recognition\", \"on\")","vt":"jsonata"},{"t":"jsonata_exp","v":"$contains($.payload.\"Wifi\", \"on\")","vt":"jsonata"},{"t":"jsonata_exp","v":"$contains($.payload.\"RFID\", \"on\")","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":5,"x":650,"y":1320,"wires":[["c04592127c7197e7"],["011101f44b4c2731"],["f5996d619b7a064e"],["d5441defc8f6d748"],["f9ab8a9eb868c88d"]]},{"id":"456427ab7ce68e67","type":"mqtt in","z":"7eeb47c71ce3f56e","g":"f975709efd0f10e1","name":"","topic":"qrcode","qos":"2","datatype":"utf8","broker":"280bb29115f88e90","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":980,"wires":[["c2fe29a6bad6193b"]]},{"id":"3a77119e65ab80a3","type":"qrcode-generator","z":"7eeb47c71ce3f56e","g":"f975709efd0f10e1","name":"","qrtype":"text2qr","text2qrText":"","ssid":"","hiddenssid":false,"wifitype":"","phonenum":"","smsphonenum":"","smstext":"","mailto":"","mailsubject":"","mailbody":"","latitude":"","longitude":"","colorlight":"#ffffff","colordark":"#000000","printstatus":true,"x":570,"y":980,"wires":[["befaa02de893a63a"]]},{"id":"c2fe29a6bad6193b","type":"function","z":"7eeb47c71ce3f56e","g":"f975709efd0f10e1","name":"Set QRCode msg","func":"msg.qrcodeinput = `http://${global.get(\"LOCAL_IP\")}:3000/api/connection?id=${msg.payload}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":980,"wires":[["3a77119e65ab80a3"]]},{"id":"befaa02de893a63a","type":"ui_template","z":"7eeb47c71ce3f56e","g":"f975709efd0f10e1","group":"b6929989166991b9","name":"","order":0,"width":"0","height":"0","format":"<div >\n    <img width=\"300px\" src=\"{{msg.payload}}\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":740,"y":980,"wires":[[]]},{"id":"a45590ae2f6e87d4","type":"http in","z":"7eeb47c71ce3f56e","g":"82aa7891c628ec58","name":"Client connection","url":"connection","method":"post","upload":false,"swaggerDoc":"","x":220,"y":1120,"wires":[["6d984371f9be9da2","f8af5f04d933438f","faf4445db6658379"]]},{"id":"65ed941d132570a7","type":"http response","z":"7eeb47c71ce3f56e","g":"82aa7891c628ec58","name":"","statusCode":"200","headers":{},"x":1360,"y":1120,"wires":[]},{"id":"6d984371f9be9da2","type":"debug","z":"7eeb47c71ce3f56e","g":"82aa7891c628ec58","name":"Client connection POST","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":1120,"wires":[]},{"id":"f8af5f04d933438f","type":"http request","z":"7eeb47c71ce3f56e","g":"82aa7891c628ec58","name":"HyperPlanning connection /api/connection","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:4000/api/connection","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":500,"y":1080,"wires":[["1324079d28331b91"]]},{"id":"edde7379d893f276","type":"join","z":"7eeb47c71ce3f56e","g":"82aa7891c628ec58","name":"User with id","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":970,"y":1120,"wires":[["565cbb5fded114c4"]]},{"id":"44c9bfaf6ad51b4b","type":"http request","z":"7eeb47c71ce3f56e","g":"82aa7891c628ec58","name":"QRCode /api/verify","method":"GET","ret":"txt","paytoqs":"query","url":"http://localhost:2500/api/verify","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":610,"y":1160,"wires":[["d59502d0d8fc3ee4"]]},{"id":"af0f785f58b73f4f","type":"debug","z":"7eeb47c71ce3f56e","g":"82aa7891c628ec58","name":"Client connection status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1410,"y":1160,"wires":[]},{"id":"4f7a067c14d00ee4","type":"join","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"Fetch user informations","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1430,"y":1340,"wires":[["b26dfa256ce4a9b0","44615c57c12add94","4d79d1c3b5bd6c4b"]]},{"id":"1676120a.9e7bd6","type":"debug","z":"7eeb47c71ce3f56e","g":"42f513f187807b8c","name":"Output","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":2140,"wires":[]},{"id":"7ec4abd2.2fbbb4","type":"debug","z":"7eeb47c71ce3f56e","g":"42f513f187807b8c","name":"Error","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":2180,"wires":[]},{"id":"4121e880.40bb18","type":"debug","z":"7eeb47c71ce3f56e","g":"42f513f187807b8c","name":"Return Code","active":false,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":2220,"wires":[]},{"id":"c91f99870a7b62b8","type":"exec","z":"7eeb47c71ce3f56e","g":"fe447c3e9befa7dc","command":"pkill --signal SIGINT","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":480,"y":2680,"wires":[[],[],["b4018885da82e1f3"]]},{"id":"aacd362ac23361c1","type":"debug","z":"7eeb47c71ce3f56e","g":"fe447c3e9befa7dc","name":"Kill message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":2680,"wires":[]},{"id":"852d52780fb2505b","type":"inject","z":"7eeb47c71ce3f56e","g":"fe447c3e9befa7dc","name":"Kill Client","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"bus_client","payloadType":"str","x":220,"y":2560,"wires":[["c91f99870a7b62b8"]]},{"id":"19c8d57478096a12","type":"inject","z":"7eeb47c71ce3f56e","g":"fe447c3e9befa7dc","name":"Kill Bluetooth","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"bus_bt.py","payloadType":"str","x":230,"y":2680,"wires":[["c91f99870a7b62b8"]]},{"id":"a307c0c0e0f7c84d","type":"inject","z":"7eeb47c71ce3f56e","g":"fe447c3e9befa7dc","name":"Kill QR","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"bus_qr","payloadType":"str","x":210,"y":2640,"wires":[["c91f99870a7b62b8"]]},{"id":"9a178fae7735ec82","type":"inject","z":"7eeb47c71ce3f56e","g":"fe447c3e9befa7dc","name":"Kill HyperPlanning","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"bus_hyper","payloadType":"str","x":250,"y":2520,"wires":[["c91f99870a7b62b8"]]},{"id":"353e7c2962fe9cae","type":"inject","z":"7eeb47c71ce3f56e","g":"fe447c3e9befa7dc","name":"Kill DB","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"bus_db","payloadType":"str","x":210,"y":2600,"wires":[["c91f99870a7b62b8"]]},{"id":"127167a5.30506","type":"inject","z":"7eeb47c71ce3f56e","g":"42f513f187807b8c","name":"Start HyperPlanning","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","x":260,"y":2160,"wires":[["dc2818ba65fda0bf"]]},{"id":"dc2818ba65fda0bf","type":"exec","z":"7eeb47c71ce3f56e","g":"42f513f187807b8c","command":"./start.sh bus_hyper","addpay":"","append":"","useSpawn":"true","timer":"","winHide":false,"oldrc":false,"name":"","x":490,"y":2160,"wires":[["1676120a.9e7bd6"],["7ec4abd2.2fbbb4"],["4121e880.40bb18"]]},{"id":"6f28f7b8032ab25c","type":"inject","z":"7eeb47c71ce3f56e","g":"42f513f187807b8c","name":"Start Bluetooth","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","x":240,"y":2100,"wires":[["937baef22297128b"]]},{"id":"937baef22297128b","type":"exec","z":"7eeb47c71ce3f56e","g":"42f513f187807b8c","command":"./start.sh bus_bt.py","addpay":"","append":"","useSpawn":"true","timer":"","winHide":false,"oldrc":false,"name":"","x":490,"y":2100,"wires":[["1676120a.9e7bd6"],["7ec4abd2.2fbbb4"],["4121e880.40bb18"]]},{"id":"606ac2a7821f0014","type":"inject","z":"7eeb47c71ce3f56e","g":"42f513f187807b8c","name":"Start DB","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":220,"y":2040,"wires":[["6ad5e63ebc7f2103"]]},{"id":"6ad5e63ebc7f2103","type":"exec","z":"7eeb47c71ce3f56e","g":"42f513f187807b8c","command":"./start.sh bus_db","addpay":"","append":"","useSpawn":"true","timer":"","winHide":false,"oldrc":false,"name":"","x":490,"y":2040,"wires":[["1676120a.9e7bd6"],["7ec4abd2.2fbbb4"],["4121e880.40bb18"]]},{"id":"456d635e115e049d","type":"inject","z":"7eeb47c71ce3f56e","g":"42f513f187807b8c","name":"Start QR","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","x":220,"y":1920,"wires":[["91c5bb4e4604967a"]]},{"id":"91c5bb4e4604967a","type":"exec","z":"7eeb47c71ce3f56e","g":"42f513f187807b8c","command":"./start.sh bus_qr","addpay":"","append":"","useSpawn":"true","timer":"","winHide":false,"oldrc":false,"name":"","x":480,"y":1920,"wires":[["1676120a.9e7bd6"],["7ec4abd2.2fbbb4"],["4121e880.40bb18"]]},{"id":"98ee52b3a08ac76c","type":"inject","z":"7eeb47c71ce3f56e","g":"42f513f187807b8c","name":"Start Client","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"LOCAL_IP","payloadType":"global","x":230,"y":1980,"wires":[["bd6f4c0c1c019c79"]]},{"id":"bd6f4c0c1c019c79","type":"exec","z":"7eeb47c71ce3f56e","g":"42f513f187807b8c","command":"./start.sh bus_client","addpay":"payload","append":"","useSpawn":"true","timer":"","winHide":false,"oldrc":false,"name":"","x":490,"y":1980,"wires":[["1676120a.9e7bd6"],["7ec4abd2.2fbbb4"],["4121e880.40bb18"]]},{"id":"a1d779370305fd33","type":"http request","z":"7eeb47c71ce3f56e","g":"82aa7891c628ec58","name":"DB /qrcode/connection","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:5500/qrcode/connection","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1580,"y":1080,"wires":[["0e56fe700b1fb403"]]},{"id":"cc90c15e6229ebac","type":"inject","z":"7eeb47c71ce3f56e","g":"42f513f187807b8c","name":"Start Wifi","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"LOCAL_IP","payloadType":"global","x":220,"y":2220,"wires":[["99040d03c2fa2d5a"]]},{"id":"99040d03c2fa2d5a","type":"exec","z":"7eeb47c71ce3f56e","g":"42f513f187807b8c","command":"./start.sh bus_wifi","addpay":"payload","append":"","useSpawn":"true","timer":"","winHide":false,"oldrc":false,"name":"","x":490,"y":2220,"wires":[["1676120a.9e7bd6"],["7ec4abd2.2fbbb4"],["4121e880.40bb18"]]},{"id":"88220e2aaa3f8fa9","type":"inject","z":"7eeb47c71ce3f56e","g":"fe447c3e9befa7dc","name":"Kill Wifi","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"bus_wifi","payloadType":"str","x":210,"y":2720,"wires":[["c91f99870a7b62b8"]]},{"id":"8038304f46078d1c","type":"aedes broker","z":"7eeb47c71ce3f56e","g":"f975709efd0f10e1","name":"localhost:1883 broker","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":240,"y":920,"wires":[["c065a99923a9cc72"],["c065a99923a9cc72"]]},{"id":"edbefa7d16ee8e43","type":"change","z":"7eeb47c71ce3f56e","g":"ad55486bc0d63833","name":"Store LOCAL_IP","rules":[{"t":"set","p":"LOCAL_IP","pt":"global","to":"payload.internalIPv4","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":820,"wires":[["293541499ff081f2"]]},{"id":"fc20d298b161cf40","type":"ip","z":"7eeb47c71ce3f56e","g":"ad55486bc0d63833","name":"Get IP","https":false,"timeout":"5000","internalIPv4":true,"internalIPv6":false,"publicIPv4":false,"publicIPv6":false,"x":370,"y":820,"wires":[["edbefa7d16ee8e43"]]},{"id":"7d8ebafd8288bb63","type":"inject","z":"7eeb47c71ce3f56e","g":"ad55486bc0d63833","name":"At startup","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":220,"y":820,"wires":[["fc20d298b161cf40"]]},{"id":"293541499ff081f2","type":"debug","z":"7eeb47c71ce3f56e","g":"ad55486bc0d63833","name":"Node-Red Local IP","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":820,"wires":[]},{"id":"faf4445db6658379","type":"change","z":"7eeb47c71ce3f56e","g":"82aa7891c628ec58","name":"Get query id","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1160,"wires":[["44c9bfaf6ad51b4b"]]},{"id":"1324079d28331b91","type":"change","z":"7eeb47c71ce3f56e","g":"82aa7891c628ec58","name":"Get user","rules":[{"t":"set","p":"topic","pt":"msg","to":"user","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":1080,"wires":[["edde7379d893f276"]]},{"id":"d59502d0d8fc3ee4","type":"change","z":"7eeb47c71ce3f56e","g":"82aa7891c628ec58","name":"Verify id","rules":[{"t":"set","p":"topic","pt":"msg","to":"verifiedID","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":1160,"wires":[["edde7379d893f276"]]},{"id":"565cbb5fded114c4","type":"http request","z":"7eeb47c71ce3f56e","g":"82aa7891c628ec58","name":"Verify user and id","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:8000/api/verifyConnection","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1170,"y":1120,"wires":[["8913fcdc25e6b034","af0f785f58b73f4f","65ed941d132570a7"]]},{"id":"8913fcdc25e6b034","type":"switch","z":"7eeb47c71ce3f56e","g":"82aa7891c628ec58","name":"If connected","property":"payload.connected","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1370,"y":1080,"wires":[["a1d779370305fd33"]]},{"id":"0e56fe700b1fb403","type":"debug","z":"7eeb47c71ce3f56e","g":"82aa7891c628ec58","name":"DB add QR response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1820,"y":1080,"wires":[]},{"id":"c065a99923a9cc72","type":"debug","z":"7eeb47c71ce3f56e","g":"f975709efd0f10e1","name":"Broker output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":920,"wires":[]},{"id":"6b2034cebf3690e6","type":"http request","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"DB qrcode/:from/:to","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1010,"y":1300,"wires":[["b26f024f5b6e2d12"]]},{"id":"b26f024f5b6e2d12","type":"change","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"qr","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":1300,"wires":[["4f7a067c14d00ee4"]]},{"id":"645f9e14dadba358","type":"change","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"bluetooth","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":1260,"wires":[["4f7a067c14d00ee4"]]},{"id":"597da7c9c1bf0467","type":"change","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"camera","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":1340,"wires":[["4f7a067c14d00ee4"]]},{"id":"dce8d468ae3c180e","type":"change","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"wifi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":1380,"wires":[["4f7a067c14d00ee4"]]},{"id":"9e78605741aa4a82","type":"http request","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"DB bluetooth/:from/:to","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1020,"y":1260,"wires":[["645f9e14dadba358"]]},{"id":"a36d122579fb488e","type":"http request","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"DB wifi/:from/:to","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1000,"y":1380,"wires":[["dce8d468ae3c180e"]]},{"id":"c598f67225c9dc2a","type":"http request","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"DB camera/:from/:to","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1020,"y":1340,"wires":[["597da7c9c1bf0467"]]},{"id":"0eab8e407a639064","type":"change","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"Generate From To","rules":[{"t":"set","p":"payload.to","pt":"msg","to":"","tot":"date"},{"t":"set","p":"payload.from","pt":"msg","to":"$millis() - 24*60*60*1000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1320,"wires":[["3152328390f68890"]]},{"id":"c04592127c7197e7","type":"change","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"Set url","rules":[{"t":"set","p":"url","pt":"msg","to":"$replace(\t   $replace(\t       \"http://localhost:5500/bluetooth/$from/$to\",\t       \"$from\",\t       $string(payload.from)\t   ),\t   \"$to\",\t   $string(payload.to)\t)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1260,"wires":[["9e78605741aa4a82"]]},{"id":"011101f44b4c2731","type":"change","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"Set url","rules":[{"t":"set","p":"url","pt":"msg","to":"$replace(\t   $replace(\t       \"http://localhost:5500/qrcode/$from/$to\",\t       \"$from\",\t       $string(payload.from)\t   ),\t   \"$to\",\t   $string(payload.to)\t)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1300,"wires":[["6b2034cebf3690e6"]]},{"id":"f5996d619b7a064e","type":"change","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"Set url","rules":[{"t":"set","p":"url","pt":"msg","to":"$replace(\t   $replace(\t       \"http://localhost:5500/camera/$from/$to\",\t       \"$from\",\t       $string(payload.from)\t   ),\t   \"$to\",\t   $string(payload.to)\t)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1340,"wires":[["c598f67225c9dc2a"]]},{"id":"d5441defc8f6d748","type":"change","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"Set url","rules":[{"t":"set","p":"url","pt":"msg","to":"$replace(\t   $replace(\t       \"http://localhost:5500/wifi/$from/$to\",\t       \"$from\",\t       $string(payload.from)\t   ),\t   \"$to\",\t   $string(payload.to)\t)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1380,"wires":[["a36d122579fb488e"]]},{"id":"b4018885da82e1f3","type":"change","z":"7eeb47c71ce3f56e","g":"fe447c3e9befa7dc","name":"Set kill message","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.code = 0 ? \"Killed process\" : \"Error\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":2680,"wires":[["aacd362ac23361c1"]]},{"id":"5c878257f5072f52","type":"http in","z":"7eeb47c71ce3f56e","g":"02f407821871ae64","name":"Wifi add devices","url":"db/wifi/devices/add","method":"post","upload":false,"swaggerDoc":"","x":220,"y":1600,"wires":[["a40e5b8be0eae338"]]},{"id":"2899930c381ed035","type":"http in","z":"7eeb47c71ce3f56e","g":"02f407821871ae64","name":"Bluetooth add devices","url":"/db/bluetooth/devices/add/","method":"post","upload":false,"swaggerDoc":"","x":240,"y":1720,"wires":[["e80a3a338b96b77a"]]},{"id":"a40e5b8be0eae338","type":"http request","z":"7eeb47c71ce3f56e","g":"02f407821871ae64","name":"DB wifi/devices/add","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:5500/wifi/devices/add","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":510,"y":1600,"wires":[["bfc6cd1ae1797083"]]},{"id":"e80a3a338b96b77a","type":"http request","z":"7eeb47c71ce3f56e","g":"02f407821871ae64","name":"DB bluetooth/devices/add","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:5500/bluetooth/devices/add","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":530,"y":1720,"wires":[["bfc6cd1ae1797083"]]},{"id":"bfc6cd1ae1797083","type":"http response","z":"7eeb47c71ce3f56e","g":"02f407821871ae64","name":"","statusCode":"200","headers":{},"x":740,"y":1620,"wires":[]},{"id":"9da05686bb35b793","type":"http in","z":"7eeb47c71ce3f56e","g":"02f407821871ae64","name":"Client add addresses owner","url":"db/owner/addresses","method":"post","upload":false,"swaggerDoc":"","x":260,"y":1520,"wires":[["c6be5753f1a6ce93"]]},{"id":"c6be5753f1a6ce93","type":"http request","z":"7eeb47c71ce3f56e","g":"02f407821871ae64","name":"DB ownerships/add","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:5500/ownerships/add","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":510,"y":1520,"wires":[["bfc6cd1ae1797083"]]},{"id":"44e7252463041b89","type":"http request","z":"7eeb47c71ce3f56e","g":"02f407821871ae64","name":"DB cards/add","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:5500/cards/add","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":500,"y":1640,"wires":[["bfc6cd1ae1797083"]]},{"id":"c02b44632e4d79c3","type":"http in","z":"7eeb47c71ce3f56e","g":"02f407821871ae64","name":"RFID add detection","url":"db/rfid/add","method":"post","upload":false,"swaggerDoc":"","x":230,"y":1640,"wires":[["44e7252463041b89"]]},{"id":"19f46cb79a0c1dfa","type":"http request","z":"7eeb47c71ce3f56e","g":"02f407821871ae64","name":"DB camera/add","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:5500/camera/add","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":500,"y":1680,"wires":[["bfc6cd1ae1797083"]]},{"id":"53539c3e7c6471b3","type":"http in","z":"7eeb47c71ce3f56e","g":"02f407821871ae64","name":"Camera add detection","url":"/db/camera/add","method":"post","upload":false,"swaggerDoc":"","x":240,"y":1680,"wires":[["19f46cb79a0c1dfa"]]},{"id":"4d346eaefe60995d","type":"inject","z":"7eeb47c71ce3f56e","g":"42f513f187807b8c","name":"Start Detection Algo","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","x":260,"y":2280,"wires":[["df0672d63c8d1292"]]},{"id":"df0672d63c8d1292","type":"exec","z":"7eeb47c71ce3f56e","g":"42f513f187807b8c","command":"./start.sh bus_algo","addpay":"","append":"","useSpawn":"true","timer":"","winHide":false,"oldrc":false,"name":"","x":490,"y":2280,"wires":[["1676120a.9e7bd6"],["7ec4abd2.2fbbb4"],["4121e880.40bb18"]]},{"id":"1fa792490fef6882","type":"inject","z":"7eeb47c71ce3f56e","g":"fe447c3e9befa7dc","name":"Kill Detection Algo","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"bus_algo","payloadType":"str","x":250,"y":2840,"wires":[["c91f99870a7b62b8"]]},{"id":"f9ab8a9eb868c88d","type":"change","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"Set url","rules":[{"t":"set","p":"url","pt":"msg","to":"$replace(\t   $replace(\t       \"http://localhost:5500/cards/$from/$to\",\t       \"$from\",\t       $string(payload.from)\t   ),\t   \"$to\",\t   $string(payload.to)\t)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1420,"wires":[["86c0d9e0544409f8"]]},{"id":"86c0d9e0544409f8","type":"http request","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"DB cards/:from/:to","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1010,"y":1420,"wires":[["90fb77309b3b1075"]]},{"id":"90fb77309b3b1075","type":"change","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"rfid","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":1420,"wires":[["4f7a067c14d00ee4"]]},{"id":"b26dfa256ce4a9b0","type":"http request","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"Detection Algorithm","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:9000/api/process","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1670,"y":1340,"wires":[["2edd1ff24379f9ac","798f034080c02ec1"]]},{"id":"2edd1ff24379f9ac","type":"debug","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"Algorithm results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1930,"y":1380,"wires":[]},{"id":"5a5be8d9d3ae2751","type":"inject","z":"7eeb47c71ce3f56e","g":"42f513f187807b8c","name":"Start RFID","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","x":230,"y":2340,"wires":[["ca26196103132678"]]},{"id":"ca26196103132678","type":"exec","z":"7eeb47c71ce3f56e","g":"42f513f187807b8c","command":"./start.sh bus_rfid.py","addpay":"","append":"","useSpawn":"true","timer":"","winHide":false,"oldrc":false,"name":"","x":500,"y":2340,"wires":[["1676120a.9e7bd6"],["7ec4abd2.2fbbb4"],["4121e880.40bb18"]]},{"id":"3c86a2e5c867541e","type":"inject","z":"7eeb47c71ce3f56e","g":"fe447c3e9befa7dc","name":"Kill RFID","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"bus_rfid.py","payloadType":"str","x":220,"y":2800,"wires":[["c91f99870a7b62b8"]]},{"id":"74406cffff638e6f","type":"http in","z":"7eeb47c71ce3f56e","g":"02f407821871ae64","name":"Client add rfid owner","url":"db/owner/rfid","method":"post","upload":false,"swaggerDoc":"","x":230,"y":1560,"wires":[["b7e03f5478a24fd2"]]},{"id":"b7e03f5478a24fd2","type":"http request","z":"7eeb47c71ce3f56e","g":"02f407821871ae64","name":"DB cards/add","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:5500/tags/add","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":500,"y":1560,"wires":[["bfc6cd1ae1797083"]]},{"id":"617c7491cfc9a9bc","type":"exec","z":"7eeb47c71ce3f56e","g":"42f513f187807b8c","command":"./start.sh bus_mail","addpay":"","append":"","useSpawn":"true","timer":"","winHide":false,"oldrc":false,"name":"","x":490,"y":2400,"wires":[["1676120a.9e7bd6"],["7ec4abd2.2fbbb4"],["4121e880.40bb18"]]},{"id":"35a35ac15544b02e","type":"inject","z":"7eeb47c71ce3f56e","g":"42f513f187807b8c","name":"Start Mail","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","x":220,"y":2400,"wires":[["617c7491cfc9a9bc"]]},{"id":"905f85fb9ba8f3f7","type":"inject","z":"7eeb47c71ce3f56e","g":"fe447c3e9befa7dc","name":"Kill Mail","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"bus_mail","payloadType":"str","x":210,"y":2760,"wires":[["c91f99870a7b62b8"]]},{"id":"44615c57c12add94","type":"debug","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"Selection results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1660,"y":1380,"wires":[]},{"id":"f8a7e7d99f3bce5b","type":"http request","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"Detection Verification","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:9000/api/detect","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":2300,"y":1320,"wires":[["ce9f0eae6a478810","c47afe8e52b02e37"]]},{"id":"4d79d1c3b5bd6c4b","type":"http request","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"HyperPlanning /api/users","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:4000/api/users","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1690,"y":1300,"wires":[["bf20e27451d77b5e"]]},{"id":"bf20e27451d77b5e","type":"change","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"Get students","rules":[{"t":"set","p":"topic","pt":"msg","to":"students","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1910,"y":1300,"wires":[["fbdf8dadc5e08f86"]]},{"id":"798f034080c02ec1","type":"change","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"Get detected","rules":[{"t":"set","p":"topic","pt":"msg","to":"detected","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1910,"y":1340,"wires":[["fbdf8dadc5e08f86"]]},{"id":"fbdf8dadc5e08f86","type":"join","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"User with id","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2090,"y":1320,"wires":[["f8a7e7d99f3bce5b"]]},{"id":"ce9f0eae6a478810","type":"http response","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"","statusCode":"200","headers":{},"x":2500,"y":1320,"wires":[]},{"id":"ccd81585d7c997ce","type":"http request","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"Send mail to missing students","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:7700/api/send","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":2750,"y":1380,"wires":[["b73fa67f13a04f29"]]},{"id":"b73fa67f13a04f29","type":"debug","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"Mail response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3000,"y":1380,"wires":[]},{"id":"c47afe8e52b02e37","type":"http request","z":"7eeb47c71ce3f56e","g":"e1c442cf26a1d462","name":"Get mail list","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:8000/api/mail","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":2510,"y":1380,"wires":[["ccd81585d7c997ce"]]},{"id":"3568eca406661d50","type":"function","z":"eee9498bc6268177","g":"ba69f7549ba19312","name":"Verify user and id","func":"let {user, verifiedID} = msg.payload;\n\nmsg.payload.connected = user?.uuid && verifiedID == \"true\" ? true : false ;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":180,"wires":[["ed5b58990eac5cbf"]]},{"id":"d4443acd984cb5b3","type":"http in","z":"eee9498bc6268177","g":"ba69f7549ba19312","name":"Verify QR Connection","url":"verifyConnection","method":"post","upload":false,"swaggerDoc":"","x":200,"y":180,"wires":[["3568eca406661d50"]]},{"id":"ed5b58990eac5cbf","type":"http response","z":"eee9498bc6268177","g":"ba69f7549ba19312","name":"","statusCode":"200","headers":{},"x":620,"y":180,"wires":[]},{"id":"379b1df424666112","type":"function","z":"eee9498bc6268177","g":"50405f6f5ec87c08","name":"Send mail list","func":"msg.payload = {\n    users: msg.payload.filter(user => !user.guess.present),\n    course: \"DEMO\",\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":280,"wires":[["aeb17b1a4c17189b"]]},{"id":"9eb42eab4cfdc198","type":"http in","z":"eee9498bc6268177","g":"50405f6f5ec87c08","name":"Send Mail","url":"mail","method":"post","upload":false,"swaggerDoc":"","x":160,"y":280,"wires":[["379b1df424666112"]]},{"id":"aeb17b1a4c17189b","type":"http response","z":"eee9498bc6268177","g":"50405f6f5ec87c08","name":"","statusCode":"200","headers":{},"x":500,"y":280,"wires":[]}]